{% extends 'base.html' %}

{% block title %}接口列表{% endblock %}

{% block style %}
<style>
    .layui-btn-normal {
        width: 120px
    }
</style>

{% endblock %}

{% block script %}
<script src="/interface/interface_static/interface.js"></script>
{% endblock %}

{% block content %}
<div class="layui-col-lg12">
    <div class="layui-card" style="margin:10px">
        <!--        <div class="layui-card-header"></div>-->
        <div class="layui-card-body">
            <form id="filter" class="layui-form" lay-filter="form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <select name="team" id="team" lay-filter="team"></select>
                    </div>
                    <div class="layui-inline">
                        <select name="product" id="product" lay-filter="product"></select>
                    </div>
                    <div class="layui-inline">
                        <select name="version" id="version" lay-filter="version"></select>
                    </div>
                    <div class="layui-inline">
                        <input type="text" class="layui-input" placeholder="请输入接口标题的关键字进行模糊搜索"
                               name="title" style="width:400px">
                    </div>
                    <div class="layui-inline">
                        <input type="button" class="layui-btn layui-btn-normal" value="查 询" id="query">
                        <input type="button" class="layui-btn layui-btn-normal" value="创建套件" id="create_suite">
                    </div>
                </div>
            </form>
            <table id="api-table" lay-filter="api-table"></table>
            <script type="text/html" id="barLine">
                <a href="javascript:" lay-event="edit">
                    <i class="layui-icon layui-icon-edit" style="font-size:25px;color:#FFB800"></i>
                </a>
                <a href="javascript:" lay-event="del">
                    <i class="layui-icon layui-icon-delete" style="font-size:25px;color:#FF5722"></i>
                </a>
            </script>
        </div>
    </div>
</div>
{% endblock %}

{% block script_body %}
<script>
    // 自定义模块，这里只需要开放soulTable即可
    // 第三方模块所在目录 {/}的意思即代表采用自有路径，即不跟随 base 路径
    layui.config({base: '{/}/static/ext/'}).extend({soulTable: 'soulTable'});

    layui.use(['table', 'form', 'element', 'layer', 'soulTable'], function () {
        let table = layui.table;
        let form = layui.form;
        let element = layui.element;
        let layer = layui.layer;
        let soulTable = layui.soulTable;

        setBreadcrumb('接口测试', '接口列表');
        let tableData = load_version_select(form);

        // table实例
        let tableIns = table.render({
            elem: '#api-table',
            url: '/interface/api/v1/api_list',
            method: 'post',
            title: '接口列表',
            limits: [5, 10, 20],
            // where 接口的请求参数
            where: tableData,
            toolbar: 'false', // 不开启工具栏
            rowDrag: {
                trigger: 'row',
                done: function (obj) { // obj指表格
                    // 完成时（松开时）触发
                    // 如果拖动前和拖动后无变化，则不会触发此方法
                    // console.log('当前行数据', obj.row); // 当前行数据
                    // console.log('改动后全表数据', obj.cache); // 改动后全表数据
                    // console.log('原来的数据索引', obj.oldIndex); // 原来的数据索引
                    // console.log('改动后数据索引', obj.newIndex); // 改动后数据索引
                }
            },
            totalRow: true,
            page: true,
            cols: [[ // 定义表头
                {type: 'checkbox', fixed: 'left', width: 30},
                {field: '_id', title: 'ID', width: 270, sort: true},
                {field: 'team', title: '团队', width: 150},
                {field: 'product', title: '项目', width: 100},
                {field: 'version', title: '版本号', width: 120},
                {field: 'title', title: '接口标题', width: 500},
                {field: 'method', title: '请求方法', width: 90},
                {field: 'url', title: '请求地址', width: 500},
                {title: '操作', fixed: 'right', width: 100, align: 'center', toolbar: '#barLine'}
            ]],
            done: function () {
                // 行拖拽之后soulTable渲染
                soulTable.render(this);
            },
            parseData: function (res) {
                //res 即为原始返回的数据
                return {
                    code: res.status, //解析接口状态
                    msg: res.message, //解析提示文本
                    count: res.length, //解析数据长度
                    data: res.data //解析数据列表
                };
            }
        });
        //监听行工具事件, tool是工具条事件名，括号里填lay-filter="对应的值"
        table.on('tool(api-table)', function (obj) {
            // 获取当前行数据
            let chosen_data = obj.data;
            // 获取 lay-event 对应值
            let layEvent = obj.event;
            if (layEvent === 'del') {
                layer.confirm('确定删除这个接口吗？', function (index) {
                    // 向服务端发送删除请求
                    http('/interface/api/v1/delete', 'post', {'id_list': [chosen_data['_id']]}, function (response) {
                        layer.msg(response.message);
                        tableIns.reload({
                            url: '/interface/api/v1/api_list',
                            method: 'post',
                            where: form.val('form')
                        })
                    }, function (response) {
                        layer.msg(response.message);
                    });
                    // 删除对应行 tr 的DOM结构
                    obj.del();
                    layer.close(index);
                })
            } else if (layEvent === 'edit') {
                window.location = `/interface/edit/${chosen_data['_id']}`
            }
        });
        // 监听查询
        listenTeam(form);
        listenProduct(form);
        // query(form, tableIns);
        $('#query').on('click', function () {
            tableIns.reload({
                url: '/interface/api/v1/api_list',
                method: 'post',
                where: form.val('form')
            });
        })

    })
</script>
{% endblock %}