<ul class="layui-nav" lay-filter="" style="z-index: 9999">
    <li class="layui-nav-item" id="nav-interface">
        <a href="javascript:">接口测试</a>
        <dl class="layui-nav-child">
            <dd><a href="/interface/debug">接口调试</a></dd>
            <dd><a href="/interface/api_list">接口列表</a></dd>
            <dd><a href="/interface/suite_list">套件列表</a></dd>
            <dd><a href="/interface/report">测试报告</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item" id="nav-ui">
        <a href="javascript:">UI自动化</a>
        <dl class="layui-nav-child">
            <dd><a href="/automation/debug">脚本调试</a></dd>
            <dd><a href="/automation/op_list">操作列表</a></dd>
            <dd><a href="/automation/case_list">用例列表</a></dd>
            <dd><a href="/automation/suite_list">套件列表</a></dd>
            <dd><a href="/automation/report">测试报告</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item" id="nav-perf">
        <a href="javascript:">性能测试</a>
        <dl class="layui-nav-child">
            <dd><a href="/performance/debug">脚本调试</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item" id="nav-assist">
        <a href="javascript:">测试辅助</a>
        <dl class="layui-nav-child">
            <dd><a href="/assist/variable_list">变量管理</a></dd>
            <dd><a href="/assist/keyword">关键字开发</a></dd>
        </dl>
    </li>
</ul>
